:root {
    --vermelho: #e50914;
    --preto: #141414;
} /*Na tag acima fiz a declaração de variavel em css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Conter o tamanho do elemento dentro da caixa*/
}
/*ELEMENTOS BASE*/
body {
    background: var(--preto);
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

header .container {
    margin-left: 5px;
    display: flex; /*Deixa os elementos alinhados horizontalmente*/
    align-items: center; /*Alinhamento vertival*/
    justify-content: space-between; /*Alinhamento horizontal*/
}

#logo {
    margin: 15px;
}

header nav a {
    text-decoration: none; /*Remover listras dos links*/
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: azure;
}

/*FILME PRINCIAL*/
.filme-principal {
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.jpg'); /*Nessa linha utilizo um linear gradiente (opacidade) apenas na imagem de fundo */
    height: 600px;
    background-size: cover;    
    display: flex; /*COLOCANDO ELEMENTOS ALINHADOS NA MESMA LINHA*/
    flex-direction: column; /*COLOCANDO ELEMENTOS ALINHADOS NA MESMA COLUNA*/
    justify-content: center;
    align-items: flex-start; /*INICIA OS ELEMENTO DA ESQUERDA PARA DIREITA*/
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 60px;
}